<div class="preview_container">
    <div class="preview_helpertxt">Cita con el Doctor XY, a las 10:00 A.M</div>
    <div class="preview_info">
        <div>
            <button>PEGASI LOGO</button>
            <span>You're about to join a video meeting whry.com/pegasi_dev</span>
            <div class="preview_usercam">
                <img src="https://ak3.picdn.net/shutterstock/videos/24953183/thumb/8.jpg">
            </div>
        </div>
        <hr>
        <div class="preview_joiner">
            <button>Deseo Entrar</button>
        </div>
    </div>
</div>